# Default ignored files
/shelf/
/workspace.xml
/out/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Intellij folder
/.idea/
# Frog application
/API-specification-template.docx
/Rubric Detail – 1.4 Web Applications VT Deventer(2022-2023)_files
/Fillled in rubric.html
/uml idk thing.drawio