footer {
    position: fixed;
    width: 100%;
    max-height: max(2vw, 7vh);
    bottom: 0;
    background-color: rgba(0, 0, 0, 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer img {
    max-width: max(2.5vw, 4.5vh);
    height: auto;
}