nav {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8vh;
    font-size: min(4vh, 7vw);
    display: flex;
    width: 100vw;
}

nav a {
    margin-right: 2vw;
    margin-top: 1vh;
    margin-left: 1vw;
    color: #6868b5;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top 0.2s linear;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
}

nav img {
    display: flex;
    justify-content: flex-start;
    margin-left: 1vh;
    margin-top: 1vh;
}

nav a:hover {
    top: -0.5vh;
}

nav a:not(:hover) {
    top: 0;
}

#logo {
    transition: none;
    max-height: 9vh;
    width: auto;
}

@media (orientation: portrait) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-right: 1vh;
    }

    nav ul {
        justify-content: center;
    }

    nav img {
        justify-content: center;
    }
}