table {
    width: 100%; /* Optional: Set the table width */
}

table tr {
    display: flex;
    justify-content: space-between;
}

table th,
table td {
    flex: 1; /* Optional: Distribute remaining space equally among columns */
}

.blank-row {
    margin-bottom: 1vh;
}

th,
td {
    min(5vw, 4vh)
}