table {
    width: 100%;
    font-size: max(1.5vw, 2.5vh);
}

table tr {
    display: flex;
    justify-content: space-between;
}

table th,
table td {
    flex: 1;
}

th,
td {
    width: 5vw;
}

.blank-row {
    margin-bottom: 1vh;
}

@media (orientation: landscape) {
    table {
        max-width: 100%;
    }
}

/* Table is very hard to show properly on mobile, so this one is still a bit jank :/ */
@media (orientation: portrait) {
    table {
        font-size: 5vw;
    }

    table th,
    table td {
        flex-direction: column;
        flex: none;
        width: 100%;
    }

    .blank-row {
        margin-bottom: 2vh;
    }
}
