menu {
    display: flex;
    width: 95%;
    justify-content: flex-end;
}

menu button {
    flex-direction: row;
    width: 5%;
    height: 5%;
    font-size: max(0.9vw, 0.9vh);
    margin-left: 2vw;

    /*Somehow none of this centers the text in the button*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
}

aside {
    color: #8686e0;
    float: right;
    margin-right: 5vw;
}

aside h3 {
    flex-direction: column;
}

/*Customized version of main.css for the project-specification page*/

body {
    margin: 0;
    background-color: #211441;
    font-family: 'Inter', sans-serif;
}

article {
    color: #8686e0;
    max-width: 60%;
    margin-right: 32vw;
    margin-left: 8vw;
}

article h1 {
    font-size: min(6vw, 4vh);
}

article p {
    font-size: min(5vw, 3.5vh);
}

article a {
    color: white;
}

#submitButton {
    position: fixed;
    bottom: 5vh;
    right: 50vw;
}

@media (orientation: portrait) {
    article {
        max-width: 60%;
        margin-right: 30vw;
        margin-left: 10vw;
    }

    article p {
        font-size: 6vw;
    }

    article h1 {
        font-size: min(20vw, 5vh);
    }

    article h3 {
        font-size: min(7vw, 2vh);
    }

    aside {
        float: right;
        margin: 0;
        max-width: 20%;
        font-size: 2.5vw;
    }
}
