table {
    width: 100%; /* Optional: Set the table width */
}

table tr {
    display: flex;
    justify-content: space-between;
}

table th,
table td {
    flex: 1; /* Optional: Distribute remaining space equally among columns */
}

@media (max-width: 600px) {
    th,
    td {
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    th,
    td {
        font-size: 16px;
    }
}

@media (min-width: 901px) {
    th,
    td {
        font-size: 20px;
    }
}

