:root {
    --background-color: #bdbaef;
    --text-color: #000000;
}

/* Animation for the cursor to blink */
@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}

#typingEffectBox {
    display: block;
    padding: 4vh 4vw;
    background-color: var(--background-color);
}

#typingEffectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#typingEffect, #cursor {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 1vh;
    color: var(--text-color);
    font-size: min(5vw, 5vh);
    margin: 0;
}

.blinkingAnimation {
    animation: blink 1060ms infinite;
}

@media (orientation: portrait) {
    #typingEffectBox {
        padding: 2vh 2vw;
    }
}
