@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    margin: 0;
    background-color: #232329;
    font-family: 'Inter', sans-serif
}

article p {
    font-size: x-large;
}

article {
    color: #8080c0;
    margin-right: 20vw;
    margin-left: 20vw;
}